.node-01 {
	background-color : rgb(48,14,135);
	border-radius : 20px;
	color : rgb(255,255,255);
	font-family : ubuntu;
	font-size : 30px;
	padding : 10px;
	text-align : center;
}
.node-02 {
	background-color : rgb(234,234,234);
	border-radius : 4px;
	color : rgb(124,2,2);
	padding : 5px;
	text-align : center;
}
.node-05 {
	font-family : ubuntu;
	font-size : 20px;
	text-align : right;
}
