<div>
    This is <b>an example</b> of json dynamic data!
</div>

<p>
    <label>Name: </label> <span data-bind="name" data-target="html">This should be the name!</span>
</p>

<p>
    <label>Email: </label> <span data-bind="email" data-target="html">This should be the
    email!</span>
</p>

<p>
    <label>Company</label> <span data-bind="company" data-target="html">Name</span>
</p>

<p>
    <label>Company City</label> <span data-bind="location" data-target="html">Name</span>
</p>

<p>
    <label for="logo">Logo</label>
    <img data-bind="logo" data-target="src" src="http://via.placeholder.com/350x150"/>
</p>